.SearchParent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; /* set a fixed width */
    height: 300px;
    max-width: 100vw;
    background: #000;
    position: fixed;
    opacity: 1;
    top: 50%;
    left: 50%;
    z-index: 7 !important;
    transform: translate(-50%, -50%);
    input {
      border: none;
      outline: none;
      padding: 10px 40px;
    }
    input::placeholder {
      color: #ff6f61;
    }
    button {
      padding: 10px 20px;
      border: none;
      color: white;
      background-color: #ff6f61;
    }
  }
}
.SearchParent::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 30, 30, 0.5);
  z-index: 3;
}

.cross {
  position: absolute;
  top: -39px;
  right: -17px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: inline-block;
}
.opened {
  visibility: visible;
  z-index: 5;
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 768px) {
  .LoadParent form {
    width: 90%;
    max-width: 100vw; /* Use a percentage width for smaller screens */
    height: auto; /* Allow height to adjust based on content */
    padding: 20px; /* Reduce padding */
    
    h2 {
      font-size: 28px; /* Smaller font size */
    }
  
    p {
      font-size: 14px; /* Smaller font size */
    }
  
    div {
     /* Stack input and button vertically */
      width: 100%; /* Full width */
    }
  
    input {
      width: 100%; /* Full width for input */
      margin-left: 0; /* Remove left margin */
    }
  
    button {
      width: 100%; /* Full width for button */
      margin-top: 10px; /* Add some space between input and button */
    }
  
    #checkbox {
      flex-direction: column; /* Stack checkbox items vertically */
    }
  
    .cross {
      top: -20px; /* Adjust position for smaller screens */
      right: -10px; /* Adjust position for smaller screens */
    }
  }
  }
