@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family: "Josefin Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
  --text-color: #11161e;
  --rd-primary-color: #151a32;
  --comon-colot: #fff;
  --st-primary-color: #ff6f61;
  --paragraph-color: #444;
  --nd-primary-color: #ff5645;
  --background-color: #f1f1f1;
  --bg: #f1f3f4;
  --black: #000;
  --a6aab7: #a6aab7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
}